<!-- <%# @comments.each do |comment| %>
  <div>
    <%#= comment.content%>
  </div>
<%# end %> -->

<!-- Comment with nested comments -->
<div class="panel panel-default mb-4">
  <li id="comment-<%= comment.id %>">
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    <div class="media-body">
      <div class="media-heading">
        <h5 class="mt-0">
          <%= link_to comment.user.name, comment.user %>
        </h5>
      </div>
        <p class="panel-text"><%= comment.content %></p>
        <div class="panel-footer text-muted">
          Posted <%= time_ago_in_words(comment.created_at) %> ago.
          <% if current_user?(comment.user) %>
            <%= link_to "delete", comment, method: :delete,
                                           data: { confirm: "You sure?" } %>
          <% end %>
        </div>
        <hr>
        <%= form_for @comment do |f| %>
           <%= f.hidden_field :parent_id, value: @comment.parent_id %>
           <%= f.text_area :content, size: "60x2" %>
           <%= f.submit "Reply" %>
        <% end %>
    </div>
  </li>
</div>
